
:host {
  min-width: 260px;
}

.chart-container {
  flex-direction: column;
  flex: 1 1 auto;
  .chart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
  }
}

.chart-controls {
  display: flex;
  flex-direction: column;
  mat-button-toggle-group {
    margin-top: 10px;
    border-color: #434343;
    mat-button-toggle {
      height: 40px;
      opacity: 40%;
      &:hover {
        opacity: 60%;
      }
      ::ng-deep .mat-button-toggle-button {
        height: inherit;
        .mat-button-toggle-label-content {
          height: inherit;
          line-height: 40px;
        }
      }

    }
  }
}

.sliders {
  display: flex;
  flex-direction: column;
  ::ng-deep mat-slider {
    flex: 1 1 auto;
    height: 100%;
    opacity: 0.5;
    ::ng-deep .mat-slider-thumb {
      height: 10px;
      width: 10px;
      right: -5px;
      bottom: -5px;
    }
    ::ng-deep .mat-slider-wrapper {
      top: 7px;
    }
    ::ng-deep &.red {
      .mat-slider-track-wrapper,
      .mat-slider-track-fill,
      .mat-slider-thumb {
        background-color: red;
      }
    }
    ::ng-deep &.green {
      .mat-slider-track-wrapper,
      .mat-slider-track-fill,
      .mat-slider-thumb {
        background-color: limegreen;
      }
    }
    ::ng-deep &.blue {
      .mat-slider-track-wrapper,
      .mat-slider-track-fill,
      .mat-slider-thumb {
        background-color: dodgerblue;
      }
    }
  }
}
